.tableUsers{
    margin: 1rem;padding: 1rem;
        .MuiTableContainer-root{
            max-height: 250px;
            width: 100%;
        }
    .MuiTableRow-root>*{
        padding: 10px;
        
    }
    @media screen and(max-width: 950px) {
        .hide{
            display: none;
        }
    }
    @media screen and(max-width: 590px) {
        .hide-2{
            display: none;
        }
    }
    .MuiTableRow-root.MuiTableRow-head>*{
        font-weight: 900 !important;
    }
    td,th{
        border: none !important;
    }

    &:first-child{
       border-radius: .7rem !important;

    }
    .status{
        padding: 8px;
        border-radius: 9px;
    }
}

