.tableUsers{
        .MuiTableContainer-root{
            max-height: 300px;
        }
    .MuiTableRow-root>*{
        padding: 10px;
        
    }
    .MuiTableRow-root.MuiTableRow-head>*{
        font-weight: 900 !important;
    }
    td,th{
        border: none !important;
    }

    &:first-child{
       border-radius: .7rem !important;

    }
    .status{
        padding: 8px;
        border-radius: 9px;
    }
}

