.admin {
  max-width: 1200px;
  margin: 62px auto 0;
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  gap: 1rem;

  @media screen and(max-width: 990px) {
    grid-template-columns: 60px 1fr;
    margin: 58px 20px 50px;
    flex-direction: column;
    
  }

  @media screen and(max-width: 590px) {
    grid-template-columns: 1fr;
    margin: 58px 8px 50px;
  }

  .main {
    margin-top: -8px;

    .title{
      margin: 2rem;
      text-align: center;
      color: $white;
      ul {
        li {
          cursor: pointer;
          border-radius: 20px;
          padding: 10px 20px;
          transition: 0.2s;

          @media screen and(max-width: 550px) {
            width: 80%;
            margin: 0 auto;
          }
        }
        .active-btn {
          background: $color-1;

          &:hover {
            background: $color-2;
          }
        }
        li:not(.active-btn) {
          &:hover {
            transform: translateX(3px);
          }
        }
        #posts {
          position: relative;
          @media screen and(max-width: 550px) {
            margin-bottom: 30px;

            &:after {
              content: '';
              position: absolute;
              bottom: -10px;
              left: 50%;
              transform: translateX(-50%);
              width: 80%;
              height: 1px;
              background: $color-2;
            }
          }
        }
      }
    }
  }
} 